<% @basic_information = _hir
provide(:title, "Harvard International Review") %>
<div class="row-fluid page-header">
	<h1>Harvard International Review</h1>
</div>
<div class="row-fluid hero-unit">
	<div class="span6">
		<%= image_tag("hir/HomePage.png", :class => "img-polaroid full-size") %>
	</div>
	<div class="span6">
		<%= image_tag("hir/Article.png", :class => "img-polaroid full-size") %>
	</div>
</div>
<div class="row-fluid">
	<p>
		I'm on the technology board for the Harvard International Review.  We maintain and do active development on the Harvard International Review website, which gets 750,000+ hits per year.  I just joined, so I haven't gotten started on much yet, but one of my major goals this semester is to conduct UX research and make changes to improve user retention.
	</p>
</div>