<% @basic_information = _interactive_intelligence
provide(:title, "Interaction Speech Tuner") %>
<div class="row-fluid page-header">
	<h1>Interaction Speech Tuner</h1>
</div>
<div class="row-fluid hero-unit">
	<div class="span12">
		<%= image_tag(@basic_information[:img], :class => "img-polaroid full-size") %>
	</div>
</div>
<div class="row-fluid">
	<h2 class="pull-left">
		About this project
	</h2>
</div>
<div class="row-fluid">
	<p>
		I spent two months in the summer of 2014 as an intern at Interactive Intelligence, a major software company in Indianapolis that does call center technology.  One of their major products is a grammar-based speech recognizer, which is the software that drives automatic voice interactions when someone calls into a major call center (but before they reach an actual person).  My project was to build a web application that people can use to tune speech grammars and increase the effectiveness of their automated speech engines.  This was a major project that exposed me to the entire web stack for the first time and gave me the opportunity to do new things like code a server in C++ and run a client-side MVC framework using AngularJS.  I also learned the ins and outs of working with a massive code base and being successful in a large company.  Overall a great experience.
	</p>
</div>