<h3>
	Papers
</h3>
<ul class="unstyled">
	<li>Fu D: <em>American Foreign Policy Decisions and the 1979 Iranian Revolution</em>, The Concord Review, September 2013 (Accepted)</li>
	<li>Fu D, Tan P, Kuznetsov A, Molkov Y: <em>Chaos and Robustness in a Single Family of Genetic Oscillatory Networks</em>, PLOS One, 2013 (submitted)</li>
</ul>

<h3>
	Major Presentations
</h3>
<ul class="unstyled">
	<li>Yaroslav Molkov, Daniel Fu, Patrick Tan, Maria Zaretskaia, Dmitry Zaretsky: <em>Orexinergic Neurotransmission in Temperature Responses to Amphetamines</em>, Computational Neuroscience 2013</li>
</ul>