<% @basic_information = _global_scholars_project
provide(:title, @basic_information[:title]) %>
<div class="page-header">
	<h1><%= @basic_information[:title] %></h1>
</div>
<div class="row-fluid">
	<div class="row-fluid">
		<h2 class="pull-left">
			About this project
		</h2>
	</div>
	<div class="row-fluid">
		<p>
			Over the past fifty years, religious fundamentalism has been rising in popularity around the world. From religious fundamentalists in the Middle East to Evangelical Christians in the United States, there has been of religious fundamentalism becoming more widespread and more politically active. In this project, I explored some root causes of this rise in religious fundamentalism and identified key similarities that all religious fundamentalist movements hold in common.
		</p>
		<p>
			I did this project for the Global Scholars program at Park Tudor, which is roughly analogous to an International Baccalaureate program. Participants are required to complete a two-year-long research project and to take two years of a philosophy course along with a minimum of five AP courses. The Global Scholars program culminates in a major paper and public presentation, which you can <%= link_to "read here", "/religiousFundamentalism/FuReligiousFundamentalism2014Paper.pdf" %> and <%= link_to "watch here", "https://www.youtube.com/watch?v=weinV6zOQPQ" %>.
		</p>
	</div>
</div>
<div class="row-fluid">
	<h2 class="pull-left">
		The Team
	</h2>
</div>
<div class="row-fluid">
	<ul class="inline body-text span12">
		<li>Daniel Fu</li>
		<li>Mentor: William Beeman</li>
	</ul>
</div>