<% @basic_information = _yasl_compiler
provide(:title, @basic_information[:title]) %>
<div class="page-header">
	<h1><%= @basic_information[:title] %></h1>
</div>
<div class="row-fluid">
	<div class="row-fluid">
		<h2 class="pull-left">
			About this project
		</h2>
	</div>
	<div class="row-fluid">
		<p>
			This is a compiler for YASL (Yet Another Simple Language), a language that Dr. Dave Berque of DePauw created for his Compilers course. During my Junior year of high school, I met with Dr. Berque once a week over the phone to go over his notes for the course and learn compiler-related concepts. Over the course of a semester and a half, I went through the entire course and built a fully-functioning YASL compiler. It compiles YASL programs into PAL (a virtual assembly language), which can then be executed by a PAL interpreter. The final compiler is not yet available online (but I promise that it works).
		</p>
	</div>
</div>