<% provide(:title, "About Me") %>
<div class="page-header">
	<h1>About Me</h1>
</div>
<div class="row-fluid">
	<div class="span3">
	</div>
	<div class="span6">
		<div class="row-fluid">
		  <h2>At a Glance</h2>
		  <p>I am currently a senior at Park Tudor School in Indianapolis, Indiana. I enjoy doing computer science and math, and I have combined those interests in a couple research projects (which you can read about on the <%= link_to "Projects page", projects_path %>). I also like to make fractal art in my free time, which you can view <%= link_to "here", fractal_link%>.</p>
		</div>
		
		<div class="row-fluid top-buffer">
		  <h2>Computer Science Background</h2>
		  <p>The first computer science course I took was AP Computer Science at Park Tudor my freshman year. The summer after that, I did a summer CS camp where we learned how to write Android and iOS apps and where we wrote the Android version of the ScoreZone App. My sophomore year, I took Data Structures. The next course in the standard PT CS curriculum was Web Development, but I decided to take Dave Berque's Compilers course instead, which is when I developed the YASL Compiler. Dr. Berque was also the one who first introduced me to DyKnow, where I worked as an intern the summer after my junior year. This year I decided to do an independent study and take Saylor.org's Operating System course.</p>
		</div>
	</div>
	<div class="span3">
	</div>
</div>
