<h1>Welcome to DansCode!</h1>
<p>My name is Dan Fu, and I am currently a Senior in high school.  My primary interests include software development, math, and writing bad poetry.  You can see some of the projects I've worked on in the projects page or read about my background in the about pages.  Look around and explore!</p>
