<% provide(:title, "About Me") %>
<div class="page-header">
	<h1>About Me</h1>
</div>
<p>My name is Dan Fu.  I am currently a senior at Park Tudor School in Indianapolis.  In my free time, I like to learn interesting new skills and work on my projects, which you can read about in the Projects pages.  Most of my projects involve computer science or math in some way, though I have a few that are exclusively in the realm of liberal arts.  I have done research in applied mathematics, and I am currently pursuing research projects in applied mathematics, computational neuroscience, and comparative religion.</p>